@font-face {
  font-family: 'lakeshore';
  font-style: normal;
  font-weight: normal;

  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/LAKESHOR-webfont.woff') format('woff'),
       url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
       url('fonts/LAKESHOR-webfont.svg#lakeshore') format('svg');

}

@font-face {
font-family: 'airstreamregular';
font-style: normal;
font-weight: normal;

src: url('fonts/Airstream-webfont.eot');
src: url('fonts/Airstream-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/Airstream-webfont.woff') format('woff'),
url('fonts/Airstream-webfont.ttf') format('truetype'),
url('fonts/Airstream-webfont.svg#airstreamregular') format('svg');

}

a {
  text-decoration: none;
}

body {
  background: rgb(149, 194, 215);
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

html, body {
  height: 100%;
}

.HolyGrail-nav, .HolyGrail-ads {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
}

.HolyGrail-nav2, .HolyGrail-ads2 {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
}

.HolyGrail-nav2 {
  /* put the nav on the left */
  order: 1;
}

.detail-image {
  width: 90%;
}

.detail-image-container {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;

}

.detail-image-frame {
  position: relative;
  text-align: center;
}

.detail-image-title {
  bottom: -16px;
  color: white;
  font-family: airstreamregular;
  font-size: 40px;
  left: 4px;
  position: absolute;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;
}

.logo-text {
  background: white;
  font-family: lakeshore;
  font-size: 37px;
  text-align: center;
  text-transform: uppercase;

}

.thumbnail-image {
  display: block;
  width: 100%;
}

.thumbnail-item {
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
}

/*Only those thumbnails that are immediately preceded by another thumbnail.*/
.thumbnail-item + .thumbnail-item {
  margin-top: 10px;
}

.thumbnail-list{
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
  list-style: none;
  order: 2;
  overflow-x: auto;
  padding: 0;
  white-space: nowrap;
}

.thumbnail-title {
  background: rgb(96, 125, 139);
  color: rgb(202, 238, 255);
  display: block;
  font-size: 18px;
  margin: 0;
  padding: 4px 10px;
}

.main-header {
  flex: 0 1 auto;
}

.main-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.fot {
  display: block;
  margin: 0;
  text-align: center;
  padding: 1.5rem;
  background: #404040;
  color: #999;
  font-size: .85em;
  overflow-x: hidden;
}

@media all and (orientation: landscape) {
  .main-content {
    flex-direction: row;
    overflow: hidden;
  }

  .thumbnail-list {
    flex-direction: column;
    order: 0;
  }

  .thumbnail-item {
    max-width: 20px;
  }

  .thumbnail-item + .thumbnail-item{
    margin-top: 20px;
  }

}
